#app
APP_NAME=Master File Service
APP_ENV=local
APP_PORT_HTTP=3000
APP_LOG=info
APP_SECRET=

#database
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USERNAME=mongo
DB_PASSWORD=mongo
DB_NAME=
DB_AUTH_SOURCE=

#JWT
JWT_ACCESS_SECRET=

#File
FILE_URI=

#AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET=
